{% extends "layouts/application.html" %}

{% block container %}
  <div ng-controller="NodesController">
    <div class="row margin-bottom-md">
      <div class="col-md-5">
        <h3>Nodes <a href="#" class="btn glyph glyph-refresh" ng-click="tree.refresh()"></a></h3>
        <div id="js-node-tree"></div>
      </div>
    </div>
    <div class="row margin-bottom-md">    
      <div class="col-md-5">
        <a href="#" class="btn btn-green" ng-click="tree.up()">Up</a>
        <a href="#" class="btn btn-red" ng-click="tree.down()">Down</a>
      </div>
    </div>
  </div>
{% endblock %}