{% with errors = get_flashed_messages(category_filter=["error"]) %}
{% if errors %}
<div class="alert alert-danger">
  <ul>
    {%- for msg in errors %}
    <li>{{ msg }}</li>
    {% endfor -%}
  </ul>
</div>
{% endif %}
{% endwith %}
{% with success = get_flashed_messages(category_filter=["success"]) %}
{% if success %}
<div class="alert alert-success">
  <ul>
    {%- for msg in success %}
    <li>{{ msg }}</li>
    {% endfor -%}
  </ul>
</div>
{% endif %}
{% endwith %}

{% with infos = get_flashed_messages(category_filter=["info"]) %}
{% if infos %}
<div class="alert alert-info">
  <ul>
    {%- for msg in infos %}
    <li>{{ msg }}</li>
    {% endfor -%}
  </ul>
</div>
{% endif %}
{% endwith %}
