{% block nav_main_content %}
  <ul class="nav navbar-nav">
    <li>
      <a href="{{ url_for('groups.index') }}">Groups</a>
    </li>
    <li>
      <a href="{{ url_for('nodes.index') }}">Single Nodes</a>
    </li>
  </ul>
{% endblock nav_main_content %}