{% extends "bootstrap/base.html" %}
{% block title %}Flynx{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="{{ url_for('static', filename='core/javascripts/application.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='jstree/jstree.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='angular.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}


{% block styles %}
  <link href="{{ url_for('static', filename='core/stylesheets/application.css') }}" rel="stylesheet" media="screen"/>
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" media="screen"/>
  <link href="{{ url_for('static', filename='glyph.css') }}" rel="stylesheet" media="screen"/>
  <link href="{{ url_for('static', filename='jstree/themes/default/style.css') }}" rel="stylesheet" media="screen"/>
{% endblock %}



{% block navbar %}


    
    


 <nav class="navbar navbar-default navbar-inverse navbar-static-top" role="navigation"> 
 <!-- Brand and toggle get grouped for better mobile display --> 
 <div class="navbar-header"> 
  <a class="navbar-brand" href="/">Flynx - Upstream Management</a> 
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-primary"> 
    <span class="sr-only">Side Navigation</span> 
    <i class="icon-th-list"></i> 
  </button> 
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-top"> 
    <span class="sr-only">Top Navigation</span> 
    <i class="icon-align-justify"></i> 
  </button> 
 </div> <!-- Collect the nav links, forms, and other content for toggling --> 
 <div class="collapse navbar-collapse navbar-collapse-top"> 


    {% block nav_content %}
      {% include "layouts/_nav.html" %}    
    {% endblock nav_content %}
 </div> 
 </nav><!-- /.navbar-collapse -->
 
     {% block sidebar_content %}
    {% endblock %}

{% endblock %}

{% block content %}

<div class="main-content" ng-app="flynx">
  <div class="container">

    {% include "layouts/_alerts.html" %}    
    
        {% block container %}
        {% endblock container %}

  </div>
</div>
{% endblock content %}

