{% extends "layouts/application.html" %}

{% block container %}
  <div class="row">
    <div class="col-md-6" ng-controller="GroupsController">
      <h3>Groups</h3>
      <div id="js-node-tree"/>
    </div>    
  </div>
{% endblock %}