.ept_header {

  background: #F5F5FF;
  padding: 10px;
  font-weight: 600;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
  font-size: 16px; 
  
}


.li_more {

    padding-left: 20px;

}

.jam_nav {

    font-size: 30px;

}


.noshow {

  visibility:hidden;

}

.pprint {
  width:  540px;
  padding-left: 50px; 
  float: left;

}

.broken {

  background-color: yellow;
  }
